src/org/genepattern/server/jaxb/analysis/job/jobinfo.dtd

<!ELEMENT ANALYSISJOBINFO (JOB+)>
<!ELEMENT JOB (ANALYSISPARAMETERS?)>
<!ATTLIST JOB id              CDATA #REQUIRED>
<!ATTLIST JOB task_id         CDATA #REQUIRED>
<!ATTLIST JOB status       CDATA #REQUIRED>
<!ATTLIST JOB date_submitted  CDATA #REQUIRED>
<!ATTLIST JOB date_completed  CDATA #IMPLIED>
<!ATTLIST JOB input_filename  CDATA #IMPLIED>
<!ATTLIST JOB result_filename CDATA #IMPLIED>
<!ELEMENT ANALYSISPARAMETERS (#PCDATA)>
